@model IEnumerable<PuntoVenta.Dominio.Entity.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Productos</h1>

<div class="d-flex justify-content-end">
    <a href="@Url.Action("Create")" class="btn btn-primary">Nuevo Producto</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioPublico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadStock)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioPublico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadStock)
            </td>
            <td>
                @Html.ActionLink("Ver", "Details", new { id = item.Id }) |
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new {  id = item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
