@model PuntoVenta.Dominio.Entity.Categoria

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>
<h5>Esta seguro que desea borrar esta categoria?</h5>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a href="@Url.Action("Index")" class="btn btn-secondary">Regresar</a>
        </div>
    </form>
</div>
